In [9]:
import pandas as pd

In [10]:
df_titre = pd.read_csv("file:///C:/Users/David/Desktop/Projet%202/title.basics.tsv.gz", sep="\t", nrows=1000)
df_titre.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Short

In [11]:
df_titre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          1000 non-null   object
 1   titleType       1000 non-null   object
 2   primaryTitle    1000 non-null   object
 3   originalTitle   1000 non-null   object
 4   isAdult         1000 non-null   int64
 5   startYear       1000 non-null   object
 6   endYear         1000 non-null   object
 7   runtimeMinutes  1000 non-null   object
 8   genres          1000 non-null   object
dtypes: int64(1), object(8)
memory usage: 70.4+ KB

In [12]:
df_rating = pd.read_csv("file:///C:/Users/David/Desktop/Projet%202/title.ratings.tsv.gz", sep="\t", nrows=1000)
df_rating.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2157
1  tt0000002            5.5       293
2  tt0000003            6.5      2194
3  tt0000004            5.3       187
4  tt0000005            6.2      2942

In [13]:
df_rating_titre = pd.merge(df_titre, df_rating, on="tconst", how='left')
df_rating_titre.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,2157.0
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",5.5,293.0
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance",6.5,2194.0
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",5.3,187.0
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Short,6.2,2942.0

In [14]:
genre =df_titre["genres"].value_counts().head(10)
genre

genres
Short                  255
Drama,Short            159
Comedy,Short           151
Documentary,Short      141
Short,Western           22
Fantasy,Short           17
\N                      16
Action,Short            13
Crime,Drama,Short       13
Drama,Romance,Short     11
Name: count, dtype: int64

In [15]:
df = pd.read_csv('df_imdb_final.csv', nrows=1000)
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,...,ordering,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,...,2.0,nm0183823,actor,\N,"[""Mr. Hamilton""]",William Courtenay,1875,1933,actor,"tt0000009,tt0020355,tt0021535,tt0020403"
1,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,...,3.0,nm1309758,actor,\N,"[""Chauncey Depew - the Director of the New Yor...",Chauncey Depew,1834,1928,"actor,writer","tt0000009,tt0490842,tt1076833,tt4484306"
2,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,...,4.0,nm0085156,director,\N,\N,Alexander Black,1859,1940,"director,writer,cinematographer",tt0000009
3,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport",5.3,...,6.0,nm0714557,director,\N,\N,Enoch J. Rector,1863,1957,"director,cinematographer,editor","tt0381108,tt0000147,tt0229676"
4,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,3.8,...,1.0,nm0215752,actor,\N,\N,Antonio del Pozo,\N,\N,actor,tt0000502

In [16]:
print(df.columns)

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres', 'averageRating',
       'numVotes', 'ordering', 'nconst', 'category', 'job', 'characters',
       'primaryName', 'birthYear', 'deathYear', 'primaryProfession',
       'knownForTitles'],
      dtype='object')

In [17]:
df = df.drop(["birthYear","deathYear"], axis=1)

In [18]:
df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,ordering,nconst,category,job,characters,primaryName,primaryProfession,knownForTitles
0,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,224.0,2.0,nm0183823,actor,\N,"[""Mr. Hamilton""]",William Courtenay,actor,"tt0000009,tt0020355,tt0021535,tt0020403"
1,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,224.0,3.0,nm1309758,actor,\N,"[""Chauncey Depew - the Director of the New Yor...",Chauncey Depew,"actor,writer","tt0000009,tt0490842,tt1076833,tt4484306"
2,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.4,224.0,4.0,nm0085156,director,\N,\N,Alexander Black,"director,writer,cinematographer",tt0000009
3,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport",5.3,558.0,6.0,nm0714557,director,\N,\N,Enoch J. Rector,"director,cinematographer,editor","tt0381108,tt0000147,tt0229676"
4,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,3.8,21.0,1.0,nm0215752,actor,\N,\N,Antonio del Pozo,actor,tt0000502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,tt0003116,movie,The Man from the Golden West,The Man from the Golden West,0,1913,\N,\N,"Adventure,Crime,Western",NaN,NaN,1.0,nm0179163,actor,\N,"[""Gentleman Jim""]",James J. Corbett,"actor,writer,archive_footage","tt0003730,tt0003116,tt0034778,tt0020949"
996,tt0003124,movie,Los marinos de papel,Los marinos de papel,0,1913,\N,\N,\N,NaN,NaN,1.0,nm0087250,director,\N,\N,Enrique Blanco,"cinematographer,director,writer","tt0002676,tt0003124,tt0003160,tt0004486"
997,tt0003131,movie,War Is Hell,Maudite soit la guerre,0,1914,\N,50,"Drama,War",6.6,202.0,1.0,nm0046403,actor,\N,"[""Adolphe Hardeff""]",Baert,actor,tt0003131
998,tt0003131,movie,War Is Hell,Maudite soit la guerre,0,1914,\N,50,"Drama,War",6.6,202.0,3.0,nm0188632,actor,\N,"[""Monsieur Modzel""]",Fernand Crommelynck,"writer,actor","tt0255867,tt0272729,tt0030958,tt0151117"
999,tt0003131,movie,War Is Hell,Maudite soit la guerre,0,1914,\N,50,"Drama,War",6.6,202.0,5.0,nm0324776,actor,\N,"[""Lieutenant Maxime""]",Henri Goidsen,actor,"tt0257863,tt0003960,tt0003131,tt0259120"

In [19]:
df = df.drop(["titleType","isAdult", "endYear", "job", "knownForTitles"], axis=1)

In [20]:
df

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,ordering,nconst,category,characters,primaryName,primaryProfession
0,tt0000009,Miss Jerry,Miss Jerry,1894,45,Romance,5.4,224.0,2.0,nm0183823,actor,"[""Mr. Hamilton""]",William Courtenay,actor
1,tt0000009,Miss Jerry,Miss Jerry,1894,45,Romance,5.4,224.0,3.0,nm1309758,actor,"[""Chauncey Depew - the Director of the New Yor...",Chauncey Depew,"actor,writer"
2,tt0000009,Miss Jerry,Miss Jerry,1894,45,Romance,5.4,224.0,4.0,nm0085156,director,\N,Alexander Black,"director,writer,cinematographer"
3,tt0000147,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,1897,100,"Documentary,News,Sport",5.3,558.0,6.0,nm0714557,director,\N,Enoch J. Rector,"director,cinematographer,editor"
4,tt0000502,Bohemios,Bohemios,1905,100,\N,3.8,21.0,1.0,nm0215752,actor,\N,Antonio del Pozo,actor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,tt0003116,The Man from the Golden West,The Man from the Golden West,1913,\N,"Adventure,Crime,Western",NaN,NaN,1.0,nm0179163,actor,"[""Gentleman Jim""]",James J. Corbett,"actor,writer,archive_footage"
996,tt0003124,Los marinos de papel,Los marinos de papel,1913,\N,\N,NaN,NaN,1.0,nm0087250,director,\N,Enrique Blanco,"cinematographer,director,writer"
997,tt0003131,War Is Hell,Maudite soit la guerre,1914,50,"Drama,War",6.6,202.0,1.0,nm0046403,actor,"[""Adolphe Hardeff""]",Baert,actor
998,tt0003131,War Is Hell,Maudite soit la guerre,1914,50,"Drama,War",6.6,202.0,3.0,nm0188632,actor,"[""Monsieur Modzel""]",Fernand Crommelynck,"writer,actor"
999,tt0003131,War Is Hell,Maudite soit la guerre,1914,50,"Drama,War",6.6,202.0,5.0,nm0324776,actor,"[""Lieutenant Maxime""]",Henri Goidsen,actor

In [21]:
pd.read_csv("tmdb_full (1).csv").value_counts()

C:\Users\David\AppData\Local\Temp\ipykernel_8536\1957798877.py:1: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv("tmdb_full (1).csv").value_counts()

adult  backdrop_path                     budget    genres                                                        homepage                                                     id      imdb_id     original_language  original_title                    overview                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            popularity  poster_path                       production_countries  release_date  revenue   runtime  spoken_languages  status    tagline                                               title                             video  vote_average  vote_count  production_companies_name                                          production_companies_country
False  /103d4ObBCWbB6PtOOjZ7C1FSpVl.jpg  30000000  ['Action', 'Crime']                                           https://www.warnerbros.com/movies/shaft-2019/                486131  tt4463894   en                 Shaft                             JJ, aka John Shaft Jr., may be a cyber security expert with a degree from MIT, but to uncover the truth behind his best friend’s untimely death, he needs an education only his dad can provide. Absent throughout JJ’s youth, the legendary locked-and-loaded John Shaft agrees to help his progeny navigate Harlem’s heroin-infested underbelly.                                                                                                                                                                                                                                                                                                  19.564      /kfZqwGuvEBAysAbCsa0QLKoSYR.jpg   ['US']                2019-06-14    21360215  111      ['en', 'es']      Released  More Shaft than you can handle                        Shaft                             False  6.600         1524        ['Davis Entertainment', 'New Line Cinema']                         ['US', 'US']                    1
       /ntrckR1bMoly9XI9X41emPnFELx.jpg  0         ['Comedy', 'Family', 'Music']                                 https://Ratatousical.com/                                    776467  tt13721696  en                 Ratatouille: The TikTok Musical   The TikTok musical sensation, based on the Disney/Pixar film, comes to delicious life for an unprecedented, community-written, Broadway-caliber, lip-smacking special event to benefit The Actors Fund.                                                                                                                                                                                                                                                                                                                                                                                                                                             3.533       /9liRsBrG2jceHgiaBcPbYcKfqpS.jpg  ['US']                2021-01-01    0         58       ['en']            Released  Your musical, cooked to perfection.                   Ratatouille: The TikTok Musical   False  6.100         6           ['Seaview Productions', 'The Actors Fund', 'Tabbara Productions']  ['US', '', '']                  1
       /nt4Xh3kig4Aph5ggRCCoZtSUNJB.jpg  73000000  ['Action', 'Adventure', 'Fantasy']                            http://www.wellgousa.com/theatrical/the-monkey-king-3        437543  tt6466464   zh                 西游记·女儿国                           The third installment of the blockbuster fantasy series sees the return of the Monkey King in his most action-packed adventure yet! While continuing their epic journey to the West, the Monkey King and his companions are taken captive by the Queen of an all-female land, who believes them to be part of an ancient prophecy heralding the fall of her kingdom. With a lot of sorcery and a little bit of charm, the travelers devise a plan to escape. But when their trickery angers the mighty River God, they realize they might just bring about the foretold destruction - unless they can find a way to quell her wrath.                13.471      /5x3rbATpy0obvtUn1kVpCj3Rvtv.jpg  ['CN']                2018-02-16    0         114      ['zh']            Released  Kingdom of Women                                      The Monkey King 3                 False  5.400         36          ['Filmko Films Production Limited', 'Filmko Pictures']             ['', 'HK']                      1
       /nsseuqyttnzWsPFwzNLR7eAxOnJ.jpg  0         ['Documentary']                                               https://tv.apple.com/movie/umc.cmc.lvpflyaolcrevsfje3rt5l6p  888652  tt15353214  en                 'Twas the Fight Before Christmas  In this true-life twist on a holiday fable, Jeremy Morris brings a whole new meaning to Christmas spirit when his extravagant seasonal display sparks a dispute with his neighbors that lands them all in court.                                                                                                                                                                                                                                                                                                                                                                                                                                    6.873       /5TNSfR1OdcNHMnJV7QczdqdfaGR.jpg  ['GB']                2021-11-24    0         91       ['en']            Released  A true tale more tangled than your Christmas lights.  'Twas the Fight Before Christmas  False  6.100         21          ['Dorothy St Pictures']                                            ['GB']                          1
       /nsUBtoJy24tGIhhtQALYvegW8IT.jpg  0         ['Action', 'Crime', 'Drama', 'Horror', 'Comedy', 'Thriller']  http://www.highonthehogthemovie.com/                         552681  tt2386668   en                 High on the Hog                   With a potent strain of pot sweeping the City, DTA agents attempt to infiltrate a small town farming operation that has a strong leader and interesting family members.                                                                                                                                                                                                                                                                                                                                                                                                                                                                             2.596       /1Qd8HHsY81K5XY6LltBBXAD8Idp.jpg  ['US']                2019-04-19    0         85       ['en']            Released  Pack it tight.                                        High on the Hog                   False  2.700         7           []                                                                 []                              1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ..
       /boct1C0KWZ533T6o5qjFVfaUpSt.jpg  5000000   ['Comedy']                                                    http://www.wethotamericansummer.com/                         2171    tt0243655   en                 Wet Hot American Summer           The setting is Camp Firewood, the year 1981. It's the last day before everyone goes back to the real world, but there's still a summer's worth of unfinished business to resolve. At the center of the action is camp director Beth, who struggles to keep order while she falls in love with the local astrophysics professor. He is busy trying to save the camp from a deadly piece of NASA's Skylab which is hurtling toward earth. All that, plus: a dangerous waterfall rescue, love triangles, misfits, cool kids, and talking vegetable cans. The questions will all be resolved, of course, at the big talent show at the end of the day.  8.735       /dVdHnfcLZFSscEUZqCzctwOVjC0.jpg  ['US']                2001-07-27    295206    97       ['en']            Released  High Times. Hard Bodies. Soft Rock.                   Wet Hot American Summer           False  6.286         691         ['Eureka Pictures', 'Universal Pictures']                          ['US', 'US']                    1
       /boZR1l7yTXlBAmIlBGWrnV9znoM.jpg  0         ['Drama', 'Comedy']                                           https://www.hotairthemovie.com                               348373  tt3531260   en                 Hot Air                           A man fakes his death. At his funeral he discovers he has a son and attempts to find him.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1.730       /9wUoQwS7mdT1YfDZkItjcPfS3IG.jpg  ['US']                2016-10-15    0         100      ['en']            Released  Everyone is full of something.                        Hot Air                           False  5.600         5           ['Wildcat Hollow']                                                 ['']                            1
       /boWyYdk4GhZ6bQfQHePH1jhH6Ix.jpg  0         ['Fantasy', 'Horror']                                         http://www.kingrecords.co.jp/bb/                             15991   tt0974977   en                 Bad Biology                       Driven by biological excess, a young man and woman search for sexual fulfillment, unaware of each other's existence. Unfortunately, they eventually meet, and the bonding of these two very unusual human beings ends in an explosive and ultimately over-the-top sexual experience, resulting in a truly god awful love story....                                                                                                                                                                                                                                                                                                                  8.496       /yIPDDjtCQv8MPEmTFOD1n9WGOB2.jpg  ['US']                2008-02-08    0         84       ['en']            Released  Something is very wrong here...                       Bad Biology                       False  4.746         114         ['Bad Biology']                                                    ['']                            1
       /boQ8hX4eQ2Ac0MGSxsZQnDWG6SF.jpg  0         ['Documentary']                                               http://www.afterauschwitz.com                                514813  tt6079976   en                 After Auschwitz                   For six female Holocaust survivors, liberation from the camps marked the beginning of a lifelong struggle.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          2.675       /cwF9PCHRRVQOO31h0juH3nrvIaj.jpg  ['PL', 'US']          2017-03-25    0         83       ['en']            Released  One War Ends. Another Begins.                         After Auschwitz                   False  6.600         5           ['Bala Cynwyd Productions']                                        ['']                            1
       /zzhXcdGij5MPfrnpNoC6dKhgT8M.jpg  0         ['Drama', 'Science Fiction', 'Adventure']                     http://www.mimzy.com                                         2267    tt0768212   en                 The Last Mimzy                    Two siblings begin to develop special talents after they find a mysterious box of toys, and soon their parents and even their teacher are drawn into a strange new world – and find a task ahead of them that is far more important than any of them could imagine.                                                                                                                                                                                                                                                                                                                                                                                 11.388      /z9m9wXyxgKr2quonjQ2Pb3xOJ6E.jpg  ['US']                2007-02-09    27308918  94       ['en', 'es']      Released  The future is trying to tell us something.            The Last Mimzy                    False  6.293         405         ['Michael Phillips Productions', 'Red New Line']                   ['', '']                        1
Name: count, Length: 8392, dtype: int64

In [24]:
df.head()

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,ordering,nconst,category,characters,primaryName,primaryProfession
0,tt0000009,Miss Jerry,Miss Jerry,1894,45,Romance,5.4,224.0,2.0,nm0183823,actor,"[""Mr. Hamilton""]",William Courtenay,actor
1,tt0000009,Miss Jerry,Miss Jerry,1894,45,Romance,5.4,224.0,3.0,nm1309758,actor,"[""Chauncey Depew - the Director of the New Yor...",Chauncey Depew,"actor,writer"
2,tt0000009,Miss Jerry,Miss Jerry,1894,45,Romance,5.4,224.0,4.0,nm0085156,director,\N,Alexander Black,"director,writer,cinematographer"
3,tt0000147,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,1897,100,"Documentary,News,Sport",5.3,558.0,6.0,nm0714557,director,\N,Enoch J. Rector,"director,cinematographer,editor"
4,tt0000502,Bohemios,Bohemios,1905,100,\N,3.8,21.0,1.0,nm0215752,actor,\N,Antonio del Pozo,actor

In [25]:
df_film_echantillon

NameError: name 'df_film_echantillon' is not defined

In [26]:
df_film_echantillon.to_csv("df_film_echantillon")

NameError: name 'df_film_echantillon' is not defined

In [27]:
# Traitement des valeurs manquantes
df['genres'] = df['genres'].fillna('')
df['primaryName'] = df['primaryName'].fillna('')
df['category'] = df['category'].fillna('')

In [28]:
df['genres'].head()

0                   Romance
1                   Romance
2                   Romance
3    Documentary,News,Sport
4                        \N
Name: genres, dtype: object

In [29]:
df['primaryName'].head()

0    William Courtenay
1       Chauncey Depew
2      Alexander Black
3      Enoch J. Rector
4     Antonio del Pozo
Name: primaryName, dtype: object

In [30]:
df['category'].head()

0       actor
1       actor
2    director
3    director
4       actor
Name: category, dtype: object

In [31]:
# Création d'une colonne combinée pour le filtrage basé sur le contenu
df['features_communes'] = df['genres'] + ' ' + df['primaryName'] + ' ' + df['category']

In [32]:
df['features_communes'].head()

0                    Romance William Courtenay actor
1                       Romance Chauncey Depew actor
2                   Romance Alexander Black director
3    Documentary,News,Sport Enoch J. Rector director
4                          \N Antonio del Pozo actor
Name: features_communes, dtype: object

In [33]:
df_film_echantillon = df.groupby(['tconst', 'primaryTitle', 'startYear', 'genres','originalTitle', 'averageRating', "numVotes"], as_index=False).agg({'nconst': list, 'category': list, 'features_communes': list, "primaryProfession":list})
df_film_echantillon.head()

,tconst,primaryTitle,startYear,genres,originalTitle,averageRating,numVotes,nconst,category,features_communes,primaryProfession
0,tt0000009,Miss Jerry,1894,Romance,Miss Jerry,5.4,224.0,"[nm0183823, nm1309758, nm0085156]","[actor, actor, director]","[Romance William Courtenay actor, Romance Chau...","[actor, actor,writer, director,writer,cinemato..."
1,tt0000147,The Corbett-Fitzsimmons Fight,1897,"Documentary,News,Sport",The Corbett-Fitzsimmons Fight,5.3,558.0,[nm0714557],[director],"[Documentary,News,Sport Enoch J. Rector director]","[director,cinematographer,editor]"
2,tt0000502,Bohemios,1905,\N,Bohemios,3.8,21.0,"[nm0215752, nm0252720, nm0063413]","[actor, actor, director]","[\N Antonio del Pozo actor, \N El Mochuelo act...","[actor, actor, director,cinematographer,writer]"
3,tt0000574,The Story of the Kelly Gang,1906,"Action,Adventure,Biography",The Story of the Kelly Gang,6.0,986.0,"[nm0846894, nm1431224, nm3002376, nm0143899, n...","[actor, actor, actor, actor, actor, actor, act...","[Action,Adventure,Biography John Tait actor, A...","[producer,actor,archive_footage, actor, actor,..."
4,tt0000591,The Prodigal Son,1907,Drama,L'enfant prodigue,5.6,31.0,"[nm0906197, nm0332182, nm0141150]","[actor, actor, director]","[Drama Georges Wague actor, Drama Henri Gouget...","[actor, actor, director,writer,actor]"

In [35]:
df_film_echantillon.to_csv("df_film_echantillon.csv")

In [34]:
# Vectorisation des caractéristiques combinées
# La vectorisation consiste à transformer des informations textuelles en représentations numériques
# Pour que l'algorithme puisse comprendre et comparer ces informations, on les transforme en vecteurs numériques.
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
feature_matrix = vectorizer.fit_transform(df['features_communes'])
# sert à créer une nouvelle colonne features_communes en combinant les informations des colonnes 'genres',
# 'primaryName' et 'category'. Cette combinaison est essentielle pour les systèmes de recommandation basés sur le contenu, 
# car elle permet de représenter chaque film par un ensemble unifié de caractéristiques textuelles.

KeyboardInterrupt:

In [ ]:
feature_matrix

<1000x954 sparse matrix of type '<class 'numpy.int64'>'
	with 3973 stored elements in Compressed Sparse Row format>